body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #3498db, #95a5a6); /* Degradado de azul a gris */
    position: relative; /* Añadido para que el contenedor de texto absoluto sea relativo a él */
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative; /* Añadido para que el contenedor de texto absoluto sea relativo a él */
}
.profile-info {
    flex: 1;
    padding: 20px;
    padding-left: 50px; /* Ajusta el padding a tu gusto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}
h1 {
    font-family: "CascadiaCode-Regular", sans-serif;
    font-size: 128px;
    font-weight: 400;
    -webkit-text-stroke: 3px #ffffff;
    margin: 0; /* Elimina el margen predeterminado del h1 */

}
p {
    font-family: "CascadiaMono-Regular", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin: 10px 0; /* Agrega un pequeño margen superior e inferior */
    max-width: 1090px;
}
.button-container {
    display: flex;
    gap: 10px; /* Espacio entre botones */
}
button {
    background-color: white;
    color: #3f3f3f;
    border: 2px solid #ffffff;
    font-family: "CascadiaCode-Regular", sans-serif;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el icono y el texto */
    padding: 10px; /* Espacio interno del botón */
    border-radius: 30px;
}
img {
    max-width: 50%;
    height: auto;
    object-fit: cover;
    position: absolute; /* Posicionamiento absoluto para que el texto pueda estar detrás */
    right: 0; /* Ajusta la posición de la imagen */
    z-index: -1; /* Asegura que la imagen esté detrás del texto */
}
.behind-text {
    position: absolute;
    right: 28%;
    top: 40%;
    transform: translate(50%, -50%); /* Centra vertical y horizontalmente */
    color: #EDBB59; /* Color de texto con opacidad para que sea semi-transparente */
    font-size: 800px;
    font-family: "inter", sans-serif;
    white-space: nowrap; /* Evita que el texto se desborde */
    z-index: -1; /* Asegura que esté detrás de la imagen */
}